.chat-container{
    width:600px;
    height:100;
    max-height:300px;
    display:flex;
}
.chat-list{
    width:40%;
    box-shadow:3px 0 2px rgba(0,0,0,0.05);
}
.chat-header{
    width:100%;
    line-height:50px;
    cursor:pointer;
    padding:0 15px;
    box-sizing: border-box;
}
.chat-header:hover{
    background:rgba(0, 255, 234, 0.221);
}
.chat-header.active{
    background:rgba(0, 255, 234, 0.521);
}
.chat-content{
    width:60%;
    padding:10px 30px;
    box-sizing: border-box;
    overflow:auto;
}
.message{
    margin:5px 3px;
    max-width:80%;
    background:#eee;
    padding:5px 7px;
    border-radius: 5px;
}